:root{
    --special-color: #009759;
    --bigMouthOpen: polygon(0% 0%, 100% 0%, 70% -30%, 50% 50%, 70% 150%, 100% 100%, 0% 100%);
    --mouthOpen: polygon(0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%, 0% 100%);
    --mouthClose:polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
    --mouthTeeth:polygon(0% 0%, 100% 0%, 100% 49%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
}


body{
    /* background-image: url("images/Untitled.png");
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #2c2c2c;
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    width: 100vw;
    height: 100vh;
}
.container1{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.container1 section{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #2c2c2c;
    scroll-snap-align: start;

}







/*  eye start  */
.replace-controller{
    display: flex;
    justify-content: center;
    margin-right: 2px;
}
.eyes-container {
    padding: 0;
    margin: -10;
    position: absolute;
}
.eye-svg {
    display: block;
    width: 30px;
    height: 30px;
    pointer-events: none;
    transform-style: preserve-3d;
}
circle.eye {
    fill: #ffffff;
    /* fill: #a1a1b6; */
}
path.top, path.bottom {
    fill: transparent;
    stroke: #d0d0e6;
    stroke-width: 1.3px;
    stroke-linecap: round;
}
.eye-outer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}

/*  eye finish  */


/* Logo animated gradiend Section */

.logo-p1, .logo-p2{
    position: absolute;

}
.logo-p1{            
    font-weight: bold;
    top: 33px;
    left: -8px;
    z-index: 6;
}
.logo-p2{
    font-weight: 600;
    top: 31px;
    left: -12px;
    z-index: 4;
}
/* Logo animated gradient Section End */






.background-text{
    display: flex;
    justify-content: center;
    font-family: brush-script-std,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: x-large;
    color: #009579;
    opacity: 50%;
}
.background-text-container{
    position: absolute;
    top: 0;
    width: 100%;
}
.background-text-upper-container{
    position: absolute;
}
#text{
    font-size: large;
}
p, h1{
    color: #cacaca;
}






.clicked{
    background:rgba(255, 255, 255, 0.05);
}
.clicked .p{
    color: #009579;
}
.sidebar-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 71px;
    height: 100vh;
    background: #222222;

}
.link-hover {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}
.link-hover:hover {
    background: rgba(255, 255, 255, 0.05);
}
.navbar-items{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: #222222;

}
.nav_img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 35px;
    height: 35px;
}

.link-hover-home:hover .img-hover-home, 
.link-hover-about:hover .img-hover-about, 
.link-hover-skills:hover .img-hover-skills,
.link-hover-mywork:hover .img-hover-mywork,
.link-hover-email:hover .img-hover-email{
    position: relative;

    transform:           translateY(-15px);
    -webkit-transform:   translateY(-15px);
    -moz-transform:      translateY(-15px);
}
.img-hover-home,
.img-hover-about,
.img-hover-skills,
.img-hover-mywork,
.img-hover-email{
    transition: transform 0.5s;
    -webkit-transition: transform 0.5;
    -moz-transition: transform 0.5;
}
@keyframes fade {          from {opacity: 0;} to {opacity: 1;}  }
@-webkit-keyframes fade{   from {opacity: 0;} to {opacity: 1;}  }
@-moz-keyframes fade {     from {opacity: 0;} to {opacity: 1;}  }

.text-hover{
    position: absolute;
    font-size: medium;
    font-family: source-serif-pro, serif;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
}

.text-hover-home, 
.text-hover-about, 
.text-hover-skills, 
.text-hover-mywork, 
.text-hover-email{
    display: none;
}
.text-hover-home{
    top: 22px;
    left: 14px;
}
.text-hover-about{
    top: 87px;
    left: 13px;
}
.text-hover-skills{
    top: 157px;
    left: 16px;
}
.text-hover-mywork{
    top: 236px;
    left: 10px;
    font-size: small;
}
.text-hover-email{
    top: 298px;
    left: 12px;
}
.green-color{
    color: var(--special-color);
}
.white-color{
    color: #ffffff;
}

.link-hover-home:hover .text-hover-home, 
.link-hover-about:hover  .text-hover-about, 
.link-hover-skills:hover .text-hover-skills,
.link-hover-mywork:hover .text-hover-mywork,
.link-hover-email:hover .text-hover-email{
    display: block;

    animation: fade;
    animation-duration: 1s;

    -webkit-animation: fade;
    -webkit-animation-duration: 1s;

    -moz-animation: fade;
    -moz-animation-duration: 1s;
}







/* Cookies box Section */
@keyframes gradient {
	0%    {background-position: 0%   50%;}
	50%   {background-position: 100% 50%;}
	100%  {background-position: 0%   50%;}
}
.cookies-box{
    right: 45;
    bottom: 25;
    z-index: 3;
}
.cookies-box, .cookies-box-border{
    position: fixed;
    height: 500px;
    width: 500px;
    border-radius: 5px;
}

.cookies-box-border{
    right: 40;
    bottom: 20;
    height: 510px;
    width: 510;
    z-index: 2;

    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}
.cookies-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cookies-submit-container{
    display: flex;
    justify-content: center;
    margin-top: 250px;

}

 /* pacman Copyright: https://codepen.io/pandamo-Code/pen/RwwBXvj */

.packman-container {
    position: absolute;
    display: block;
    justify-content:center;
    background: var(--backColor);
    
    overflow:hidden;
    top: 8px;
    width: 500px;
}
  
.pacman {
    display:block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #F2D648;
    position: relative;
    clip-path: var(--mouthTeeth);
    box-shadow: 0 -3px 10px rgba(0,0,0,.7) inset;
    margin-left: -183px;
    z-index: 2;
}
.cookies-animation{
    opacity: 1;
    animation-name: hideTheCookies ;
    -webkit-animation-name: hideTheCookies;
    -moz-animation-name: hideTheCookies;

    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -moz-animation-duration: 4s;

    z-index: 1;
}
.pacman-animation{
    animation-name: eat;
    -webkit-animation-name: eat;
    -moz-animation-name: eat;

    animation-duration: 3s;
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
}

@keyframes eat {
    0% {
        margin-left: -183px;
    }
    40%{
        clip-path: var(--bigMouthOpen); 
        margin-left: 140px;
    }
    60%{
        clip-path: var(--mouthClose);
        margin-left: 140px;
    }
    70%{
        margin-left: 140px;
    }
    100% {
        margin-left: 500px;
    }
}
@-webkit-keyframes eat {
    0% {
        margin-left: -183px;
    }
    40%{
        clip-path: var(--bigMouthOpen); 
        margin-left: 140px;
    }
    60%{
        clip-path: var(--mouthClose);
        margin-left: 140px;
    }
    70%{
        margin-left: 140px;
    }
    100% {
        margin-left: 500px;
    }
}
@-moz-keyframes eat {
    0% {
        margin-left: -183px;
    }
    40%{
        clip-path: var(--bigMouthOpen); 
        margin-left: 140px;
    }
    60%{
        clip-path: var(--mouthClose);
        margin-left: 140px;
    }
    70%{
        margin-left: 140px;
    }
    100% {
        margin-left: 500px;
    }
}


@keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-webkit-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-moz-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
  
  
  
.pacman::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 31px;
    right: 94px;
    z-index: 6;
}
.pacman::after {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 28px;
    right: 93px;
    z-index: 4;
}
  
  
  
@keyframes hideCookiesBox {
    from  {opacity: 1;}
    to    {opacity: 0;}
}
.hide-cookies-box{
    animation: hideCookiesBox 1s;
    -moz-animation: hideCookiesBox 1s;
    -webkit-animation: hideCookiesBox 1s;
    opacity: 0;
}
.block-display{
    display: none;
}

/* Cookies box Section End */