@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@1,800&display=swap');

:root{
    --special-color: #009759;
    --dark-color: #2c2c2c;
    --lightDark-color: #262626;
    --bigMouthOpen: polygon(0% 0%, 100% 0%, 70% -30%, 50% 50%, 70% 150%, 100% 100%, 0% 100%);
    --mouthOpen: polygon(0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%, 0% 100%);
    --mouthClose: polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
    --mouthTeeth: polygon(0% 0%, 100% 0%, 100% 49%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
}


body{
    background-color: #2c2c2c;
    /* --nav-width: 200px; */
    /* margin: 0 0 0 var(--nav-width); */
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 80px auto;
    
}
.container1{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;

}
.container1 section{
    /* display: flex; */
    /* justify-content: center; */
    height: 100vh;
    background-color: #2c2c2c;
    scroll-snap-align: start;
}









/*  Eye section  */
.replace-controller{
    display: flex;
    justify-content: center;
    margin-right: 2px;
    margin-bottom: 57px;
}
.eyes-container {
    padding: 0;
    margin: -10;
    position: absolute;
}
.eye-svg {
    display: block;
    width: 30px;
    height: 30px;
    pointer-events: none;
    transform-style: preserve-3d;
}
circle.eye {
    fill: #ffffff;
}
path.top, path.bottom {
    fill: transparent;
    stroke: #d0d0e6;
    stroke-width: 1.3px;
    stroke-linecap: round;
}
.eye-outer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}
/*  Eye section End  */


/* Logo animated gradiend Section */

.logo-p1, .logo-p2{
    position: absolute;

}
.logo-p1{            
    font-weight: bold;
    top: 33px;
    left: -4px;
    z-index: 6;
}
.logo-p2{
    font-weight: 600;
    top: 31px;
    left: -7px;
    z-index: 4;
}
/* Logo animated gradient Section End */




p, h1{
    color: #cacaca;
}



.clicked{
    background:rgba(255, 255, 255, 0.05);
}
.clicked .p{
    color: #009579;
}

.side-navbar {
    display: grid;
    grid-template-columns: 80px;
    grid-template-rows: 80px 3fr repeat(4, 70px) 3fr;
    grid-template-areas: 
        "logo-container"
        "."
        "home "
        /* "about " */
        "skills "
        "mywork "
        "email "
        ". ";
    align-items:flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    background: #222222;
    z-index: 8;
}

.link-hover{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 70px;
    bottom: 10px;
    z-index: 10;
}
.logo-container{
    grid-area: logo-container;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.home-link-container{
    grid-area: home;
}
/* .about-link-container{
    grid-area: about;
} */
.skills-link-container{
    grid-area: skills;
}
.mywork-link-container{
    grid-area: mywork;
}
.email-link-container{
    grid-area: email;
} 
.img-container{
    margin-left: 5px;
}

.link-hover {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;

}
.link-hover:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav_img{

    width: 35px;
    height: 35px;
}
.activate-img-hover,
.link-hover:hover .img-hover{
    /* position: relative; */
    transform:   translateY(-15px);
    -moz-transform:   translateY(-15px);
    -webkit-transform:   translateY(-15px);
}

.img-hover-home,
/* .img-hover-about, */
.img-hover-skills,
.img-hover-mywork,
.img-hover-email{
    margin-top: 10px;
    transition: transform 0.5s;
    -moz-transition: transform 0.5;
    -webkit-transition: transform 0.5;
}
@keyframes            fade {from {opacity: 0;}   to {opacity: 1;}}
@-webkit-keyframes    fade {from {opacity: 0;}   to {opacity: 1;}}
@-moz-keyframes       fade {from {opacity: 0;}   to {opacity: 1;}}

.text-hover{
    position: relative;
    bottom: 30px;
    display: flex;
    align-items: flex-start;
    font-size: 17px;
    font-family: source-serif-pro, serif;
    font-weight: 200;
    font-style: normal;
    color: #ffffff;
    margin-left: -11px;
}


.text-hover{
    display: none;
    width: 68px;
    justify-content: center;
}

.green-color{
    color: var(--special-color);
}
.white-color{
    color: #ffffff;
}

.activate-text-hover,
.link-hover:hover .text-hover{
    display: flex;
    animation: fade 1s;
    -moz-animation: fade 1s;
    -webkit-animation: fade 1s;
}







/* Cookies box Section */








@keyframes gradient {
	0%    {background-position: 0%   50%;}
	50%   {background-position: 100% 50%;}
	100%  {background-position: 0%   50%;}
}
.cookies-box{
    height: 500px;
    width: 500px;
    right: 45px;
    bottom: 25px;
    z-index: 8;
}
.cookies-box, .cookies-box-border{
    position: fixed;

    border-radius: 5px;
}
.cookies-box-border{
    right: 40px;
    bottom: 20px;
    height: 510px;
    width: 510px;
    z-index: 6;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.hide-cookies-box{
animation: hideCookiesBox 0.5s;
-moz-animation: hideCookiesBox 0.5s; 
-webkit-animation: hideCookiesBox 0.5s;
}
@keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
@-webkit-keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
@-moz-keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
.hide-cookies-box-border{
    animation: hideCookiesBoxBorder 0.5s;
    -moz-animation: hideCookiesBoxBorder 0.5s;
    -webkit-animation: hideCookiesBoxBorder 0.5s;
}
@keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}
@-webkit-keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}
@-moz-keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}

.cookies-img{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.cookies-submit-container{
    display: flex;
    justify-content: center;
    margin-top: 250px;

}
/* Cookies Box end */



/* skills page  */
.background-stretch{
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}
.space-container{
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;

  
  }
  
  .space-img-container{
    /* position: ab; */
    margin: 0;
    padding: 0;
    position: relative;
  
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "img-2 img-4 img-1 img-7"
      "img-3 img-5 img-9 img-6";
    overflow: hidden;
  }
  .space-img-1{
    grid-area: img-1;
    align-self: flex-start;
  }
  .space-img-2{
    grid-area: img-2;
    align-self: flex-start;
  }
  .space-img-3{
    grid-area: img-3;
    align-self: flex-end;
  }
  .space-img-4{
    grid-area: img-4;
    align-self: flex-start;
  }
  .space-img-5{
    grid-area: img-5;
    align-self: flex-end;
  }
  .space-img-6{
    grid-area: img-6;
    align-self: flex-end;
  }
  .space-img-7{
    grid-area: img-7;
    align-self: flex-start;
  }
  .space-img-8{
    grid-area: img-8;
  }
  .space-img-9{
    grid-area: img-9;
    align-self: flex-end;
  }
  .container img{
    margin: 0;
    padding: 0;
    position: absolute;
  
    top: 0;
    left: 0;
    object-fit: contain;
  }
.skills-page{
    height: 100vh;
    min-height: 600px;
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
        "title title title title"
        "left-section . right-section .";
    /* justify-items: center; */
    align-items: center;
}
.skills-page-title{
    grid-area: title;
    font-family: 'Spectral', serif;
    font-size: 70px;
    text-align: center;
    color: #009759;
}

.skills-left-section{
    grid-area: left-section;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "skills-cards"
        "skills-text";
    align-items: center;
    justify-items: center;
}
.skills-cards-container{
    grid-area: skills-cards;
}
.skills-text{
    grid-area: skills-text;
    /* padding: 0 30px 0 30px; */
    width: 40vw;
}

.skills-right-section{
    grid-area: right-section;
    display: flex;
    flex-direction: column;
    background: #2c2c2c;
    height: 80vh;
    width: 22vw;
    border-radius: 15px;
    z-index: 4;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 3fr 1fr;
    grid-template-areas: 
        "."
        "accordion-card-1"
        "."
        "accordion-card-2"
        ".";
    align-items:center;
    justify-items: center;
    min-height: 500px;
    max-height: 620px;

}
.margin-left{
    margin-left: 15px;
}
.margin-right{
    margin-right: 15px;
}
.accordion-card{
    background: #222222;
    border-radius: 10px;
    width: 350px;
    border: 4px solid #181818;
}
.accordion-card-content{
    margin: 0 0 20px 10px;
}
.inside-accordion-card{
    margin: 5px 15px 10px 40px;
}
/* skills page end */





/* Shiny text Section */
.shiny-text-container{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: 
        ". . ."
        ". text ."
        ". . .";
        justify-items: center;
        align-items: center;
}
.btn-shine{
  grid-area: text;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 12px 48px;
  color: #ffffff;
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-position: 77vw;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 400;
  font-size: 28px;
  text-decoration: none;
  white-space: nowrap;
}
@keyframes shine{
  0% {
    background-position: 0px;
  }
  100%{
    background-position: 700px;
  }
}


/* Shiny text Section End */



 /* pacman Copyright: https://codepen.io/pandamo-Code/pen/RwwBXvj */

.packman-container {
    position: absolute;
    display: block;
    justify-content: center;
    background: var(--backColor);
    overflow: hidden;
    top: 8px;
    width: 500px;
}
  
.pacman {
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #F2D648;
    position: relative;
    clip-path: var(--mouthTeeth);
    box-shadow: 0 -3px 10px rgba(0,0,0,.7) inset;
    margin-left: -183px;
    z-index: 2;
}

.pacman-animation{
    animation: eat 3s;
    -moz-animation: eat 3s;
    -webkit-animation: eat 3s;
}

@keyframes eat {
    0%   {margin-left: -183px;}
    40%  {margin-left:  140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:  140px;  clip-path: var(--mouthClose)}
    100% {margin-left:  500px;}
}
@-webkit-keyframes eat {
    0%   {margin-left:  -183px;}
    40%  {margin-left:   140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:   140px;  clip-path: var(--mouthClose)}
    100% {margin-left:   500px;}
}
@-moz-keyframes eat {
    0%   {margin-left:  -183px;}
    40%  {margin-left:   140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:   140px;  clip-path: var(--mouthClose)}
    100% {margin-left:   500px;}
}
.cookies-animation{
    opacity: 1;
    z-index: 1;
    animation: hideTheCookies 3s;
    -moz-animation: hideTheCookies 3s;
    -webkit-animation: hideTheCookies 3s;
}

@keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-webkit-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-moz-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
  
  
  
.pacman::before {
    content: '';
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 31px;
    right: 94px;
    z-index: 6;
}
.pacman::after {
    content: '';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 28px;
    right: 93px;
    z-index: 4;
}
  
  
  


.block-display{
    display: none;
}

/* Cookies box Section End */





/* Floating text Section  */
.floating-text-container{
    /* margin-left: 34vw; */
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;
    display: grid;
    grid-template-rows: 20vh;
    grid-template-columns: 1fr 470px 1fr;
    /* grid-template-areas: ". float ."; */
    justify-items: center;
    align-items: center;
    transform-origin: top left;
}
.h1-1, .h1-2{
    overflow-block: hidden;
    grid-column: 2/3;
    grid-area: float;
    justify-items: center;
    align-items: center;
    /* grid-row: 1/2; */
    position: absolute;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 70px;
    font-weight: 700;
    /* width: 50vw; */
    color: #f5f5f5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    /* display: flex;
    justify-content: center;
    align-items: center; */
/*     transform: translate(-50%, -50%); */
    text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);

}
.h1-1{
    grid-area: float-above;
    transform: translateY(15%);

        /* transform: translate(-50%, -50%); */

    animation: floatAbove 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);

}
.h1-2{
    grid-area: float-below;
    opacity: 0.65;
    filter: blur(0.02em);
    transform: translateY(15%) rotateX(21deg);
    animation: floatBelow 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
        perspective: 500;
    display:inline;
}
@keyframes floatAbove {
    50% {
    transform: translateY(0%);

        /* transform: translate(-50%, -60%); */
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
    }
}

@keyframes floatBelow {
    50% {
        transform: translateY(0%) rotateX(10deg);
        -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
    }
}
/* Floating text Section End */




.background, .app-form-button, .app-form-control {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}
  
.background {
    display: flex;
    vertical-align: middle;

}
  
.email-container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    vertical-align: middle;

}
  
.screen {
    position: relative;
    background: var(--dark-color);
    border-radius: 15px;
    vertical-align: middle;

}
  
.screen:after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}
  
.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: var(--lightDark-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.screen-header-left {
    margin-right: auto;
}
  
.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}
  
.screen-header-button.close {
    background: #ed1c6f;
}
  
.screen-header-button.maximize {
    background: #e8e925;
}
  
.screen-header-button.minimize {
    background: #74c54f;
}
  
.screen-header-right {
    display: flex;
}
  
.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999999;
}
  
.screen-body {
    display: flex;
}
  
.screen-body-item {
    flex: 1;
    padding: 50px;
}
  
.screen-body-item.left {
    display: flex;
    flex-direction: column;
}
  
.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--special-color);
    font-size: 26px;
}
  
.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--special-color);;
}
  
.app-contact {
    display: flex;
    justify-content: center;
    margin-top: auto;
    font-size: 8px;
    color: #888;
    transition: font-size 0.5s;
}
.app-contact:hover{
    font-size:10px;
}

.app-form-group {
    margin-bottom: 15px;
}
  
.app-form-group.message {
    margin-top: 40px;
}
  
.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}
  
.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    color: var(--special-color);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}
  
.app-form-control::placeholder {
    color: #666;
}
  
  
.input-border{
    display:inline-block;
    width: 0px;
    height: 2px;
    background: var(--special-color);
    position: relative;
    top:-2px;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}
.app-form-control:active + .input-border,
.app-form-control:focus + .input-border{
    width:100%;    
}
.app-form-button {
    background: none;
    border: none;
    color: var(--special-color);
    font-size: 14px;
    cursor: pointer; 
    outline: none;
}
  
.app-form-button:hover {
    color: #107249;
}
  
  
  
@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }
  
    .screen-body-item.left {
        margin-bottom: 30px;
    }
  
    .app-title {
        flex-direction: row;
    }
  
    .app-title span {
        margin-right: 12px;
    }
  
    .app-title:after {
        display: none;
    }
}
  
@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }
  
    .screen-body-item {
        padding: 0;
    }
}
  




.email-section{
    /* margin-left: 71px; */
    background: url("images/bg2.png") no-repeat center;
	background-size: cover; 
    backdrop-filter: blur(5px);
    /* overflow: hidden; */
}
.email-page{
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-template-rows: repeat(2, 50vh);
}
.blur{
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 80vh;
    width: 95vw;
    top: 20vh;
    box-shadow: 0 0 80px 80px transparent inset;
    z-index: 2;
}

.email-grid, .map-grid {
    z-index: 4;
}
.email-form-grid{
    display: grid;
    grid-template-rows: 30vh 60vh;
    align-items: center;
    justify-items: center;
}

.email-form{
    /* grid-area: email-form; */
}




@media screen and (max-width:1300px) {
    .email-section{
        height: 160vh;
    }
    .email-form{
        grid-row: 3 / 4;
    }
    .email-form-grid{
        grid-template-rows: 20vh 10vh 50vh 20vh;
    }
    .email-page{
        grid-template-columns: auto;
        grid-template-rows: 100vh;
    }
    .map-container{
        display: none;
    }

}

@media screen and (max-width:600px) {
    body{
        grid-template-columns: auto;
        grid-template-rows: calc(100vh - 70px) 70px;
        grid-template-areas: 
            "page-content"
            "navbar";
    }

    .container1, .container1 > section{
        height: calc(100vh - 70px);
    }
    .navbar-grid{
        grid-area: navbar;
    }
    .page-grid{
        grid-area: page-content;
    }
    .side-navbar{
        /* display: none; */
        position: static;
        /* grid-area: sidebar; */
        grid-template-columns: 1fr repeat(4, 70px) 1fr;
        grid-template-rows:70px;
        width: 100vw;
        height: 70px;
        grid-row: 2 / 3;
        grid-template-areas: 
            ". home skills mywork email .";
        z-index: 10;
    }
    .home-link-container{
        grid-area: home;
    }
    /* .about-link-container{
        grid-area: about;
    } */
    .skills-link-container{
        grid-area: skills;
    }
    .mywork-link-container{
        grid-area: mywork;
    }
    .email-link-container{
        grid-area: email;
    } 
    .logo-container{
        display: none;
    }
    .img-container{
        margin-left: 0px;
    }
    .text-hover{
        justify-content: center;
        margin-left: -17px;

    }
    
    .cookies-box{
        bottom: 150px;
    }
    .cookies-box-border{
        bottom: 145px;
    }
    .cookies-box-blur{
        /* display: block; */
        position: absolute;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(8px);
        height: 100vh;
        width: 100%;
        /* top: 20vh; */
        box-shadow: 0 0 80px 80px transparent inset;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s;
    }


    @keyframes hideCookiesBoxPhone {
        0%   {bottom:  145px;}
        50%  {bottom:  310px;}
        100% {bottom: -605px;}
        }
    @-webkit-keyframes hideCookiesBoxPhone {
        0%   {bottom:  145px;}
        50%  {bottom:  310px;}
        100% {bottom: -605px;}
    }
    @-moz-keyframes hideCookiesBoxPhone {
        0%   {bottom:  145px;}
        50%  {bottom:  310px;}
        100% {bottom: -605px;}
    }

    @keyframes hideCookiesBoxBorderPhone {
        0%   {bottom:  140px;}
        50%  {bottom:  305px;}
        100% {bottom: -610px;}
    }
    @-webkit-keyframes hideCookiesBoxBorderPhone {
        0%   {bottom:  140px;}
        50%  {bottom:  305px;}
        100% {bottom: -610px;}
    }
    @-moz-keyframes hideCookiesBoxBorderPhone {
        0%   {bottom:  140px;}
        50%  {bottom:  305px;}
        100% {bottom: -610px;}
    }
    .hide-cookies-box{
        animation: hideCookiesBoxPhone 0.5s;
        -moz-animation: hideCookiesBoxPhone 0.5s; 
        -webkit-animation: hideCookiesBoxPhone 0.5s;
    }
    .hide-cookies-box-border{
        animation: hideCookiesBoxBorderPhone 0.5s;
        -moz-animation: hideCookiesBoxBorderPhone 0.5s;
        -webkit-animation: hideCookiesBoxBorderPhone 0.5s;
    }
    @keyframes opacityToZero {
        0%     {opacity: 1;}
        100%   {opacity: 0;}
    }
    @-moz-keyframes opacityToZero {
        0%     {opacity: 1;}
        100%   {opacity: 0;}
    }
    @-webkit-keyframes opacityToZero {
        0%     {opacity: 1;}
        100%   {opacity: 0;}
    }

    .hide-cookies-box-blur{
        /* display: block; */
        opacity: 0;
        /* transition: opacity 0.5;
        animation: opacityToZero 0.5;
        -moz-animation: opacityToZero 0.5;
        -webkit-animation: opacityToZero 0.5; */
    }


}
@media screen and (max-width:410px) {
    .email-page{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    .email-form-grid{
        grid-template-rows: 20vh 80vh;
        grid-template-columns: 1fr 30vw 1fr;
    }
    .email-form{
        grid-row: 2/3;
        margin-left: -22%;
    }
}
.map-container{
    /* width: calc(50vw - 142px); */
    width: 100%;
    height: 100vh;
    z-index: 6;
    padding: 0;
    margin: 0;
}
.map{
    width: inherit;
    height: inherit;
}
