:root{
    --special-color:   #009759;
    --dark-color:      #2c2c2c;
    --lightDark-color: #262626;
    --bigMouthOpen:  polygon(0% 0%, 100% 0%, 70% -30%, 50% 50%, 70% 150%, 100% 100%, 0% 100%);
    --mouthOpen:     polygon(0% 0%, 100% 0%, 100% 20%, 50% 50%, 100% 80%, 100% 100%, 0% 100%);
    --mouthClose:    polygon(0% 0%, 100% 0%, 100% 50%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
    --mouthTeeth:    polygon(0% 0%, 100% 0%, 100% 49%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
}


body{
    background-color:    #2c2c2c;
    --nav-width:             200px;
    margin: 0 0 0 var(--nav-width);
    width:                   100vw;
    height:                  100vh;
    display: grid;
    grid-template-columns: 71px auto;
    
}
.container1{
    scroll-snap-type: y mandatory;
    overflow-y:            scroll;
    height:                 100vh;
    scroll-behavior:       smooth;

}
.container1 section{
    /* display:               flex; */
    /* justify-content:     center; */
    height:               100vh;
    background-color: #2c2c2c;
    scroll-snap-align:    start;
}
.email-section{
    /* margin-left: 71px; */
    background: url("images/bg2.png") no-repeat center;
	background-size: cover; 
    backdrop-filter: blur(5px);
    /* overflow: hidden; */
}
.email-page{
    display: grid;
    grid-template-columns: calc(50vw - 71px) calc(50vw - 15px);
}
.blur{
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    height: 80vh;
    width: 100%;
    top: 20vh;
    box-shadow: 0 0 80px 80px transparent inset;
    z-index: 2;
}
.email-grid, .map-grid {
    z-index: 4;
}
.email-form-grid{
    display: grid;
    grid-template-rows: 20vh 5vh auto;
}




/*  Eye section  */
.replace-controller{
    display:           flex;
    justify-content: center;
    margin-right:       2px;
}
.eyes-container {
    padding:          0;
    margin:         -10;
    position:  absolute;
}
.eye-svg {
    display:        block;
    width:           30px;
    height:          30px;
    pointer-events:  none;
    transform-style: preserve-3d;
}
circle.eye {
    fill: #ffffff;
}
path.top, path.bottom {
    fill:      transparent;
    stroke:      #d0d0e6;
    stroke-width:    1.3px;
    stroke-linecap:  round;
}
.eye-outer {
    display:               flex;
    align-items:     flex-start;
    justify-content:     center;
    margin-top:            15px;
}
/*  Eye section End  */


/* Logo animated gradiend Section */

.logo-p1, .logo-p2{
    position: absolute;

}
.logo-p1{            
    font-weight: bold;
    top:         33px;
    left:        -8px;
    z-index:        6;
}
.logo-p2{
    font-weight: 600;
    top:        31px;
    left:      -12px;
    z-index:       4;
}
/* Logo animated gradient Section End */




p, h1{
    color: #cacaca;
}






.clicked{
    background:rgba(255, 255, 255, 0.05);
}
.clicked .p{
    color: #009579;
}
.sidebar-nav {
    position:       fixed;
    top:                0;
    left:               0;
    width:           71px;
    height:         100vh;
    background: #222222;

}
.link-hover {
    display:            block;
    padding:        12px 18px;
    text-decoration:     none;
    color:          #eeeeee;
    font-weight:          500;
}
.link-hover:hover {
    background: rgba(255, 255, 255, 0.05);
}
.navbar-items{
    margin:                       0;
    position:              absolute;
    top:                        50%;
    -ms-transform: translateY(-50%);
    transform:     translateY(-50%);
    background:           #222222;

}
.nav_img{
    margin-top:    5px;
    margin-bottom: 5px;
    width:        35px;
    height:       35px;
}

.link-hover-home:hover .img-hover-home, 
.link-hover-about:hover .img-hover-about, 
.link-hover-skills:hover .img-hover-skills,
.link-hover-mywork:hover .img-hover-mywork,
.link-hover-email:hover .img-hover-email{
    position: relative;
            transform:   translateY(-15px);
       -moz-transform:   translateY(-15px);
    -webkit-transform:   translateY(-15px);
}
.img-hover-home,
.img-hover-about,
.img-hover-skills,
.img-hover-mywork,
.img-hover-email{
            transition: transform 0.5s;
       -moz-transition: transform 0.5;
    -webkit-transition: transform 0.5;
}
@keyframes fade            {from {opacity: 0;}   to {opacity: 1;}}
@-webkit-keyframes fade    {from {opacity: 0;}   to {opacity: 1;}}
@-moz-keyframes fade       {from {opacity: 0;}   to {opacity: 1;}}

.text-hover{
    position:  absolute;
    font-size:   medium;
    font-family: source-serif-pro, serif;
    font-weight:    200;
    font-style:  normal;
    color:    #ffffff;
}

.text-hover-home, 
.text-hover-about, 
.text-hover-skills, 
.text-hover-mywork, 
.text-hover-email{
    display: none;
}
.text-hover-home{
    top:   22px;
    left:  14px;
}
.text-hover-about{
    top:   87px;
    left:  13px;
}
.text-hover-skills{
    top:  157px;
    left:  16px;
}
.text-hover-mywork{
    top:  236px;
    left:  10px;
    font-size: small;
}
.text-hover-email{
    top:  298px;
    left:  12px;
}
.green-color{
    color: var(--special-color);
}
.white-color{
    color: #ffffff;
}

.link-hover-home:hover .text-hover-home, 
.link-hover-about:hover  .text-hover-about, 
.link-hover-skills:hover .text-hover-skills,
.link-hover-mywork:hover .text-hover-mywork,
.link-hover-email:hover .text-hover-email{
    display: block;

            animation: fade 1s;
       -moz-animation: fade 1s;
    -webkit-animation: fade 1s;
}







/* Cookies box Section */








@keyframes gradient {
	0%    {background-position: 0%   50%;}
	50%   {background-position: 100% 50%;}
	100%  {background-position: 0%   50%;}
}
.cookies-box{
    height:        500px;
    width:         500px;
    right:          45px;
    bottom:         25px;
    z-index:           6;
}
.cookies-box, .cookies-box-border{
    position: fixed;

    border-radius: 5px;
}
.cookies-box-border{
    right:                40px;
    bottom:               20px;
    height:              510px;
    width:                 510px;
    z-index:                 4;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.hide-cookies-box{
        animation: hideCookiesBox 0.5s;
   -moz-animation: hideCookiesBox 0.5s; 
-webkit-animation: hideCookiesBox 0.5s;
}
@keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
@-webkit-keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
@-moz-keyframes hideCookiesBox {
0%   {bottom:   25px;}
50%  {bottom:  190px;}
100% {bottom: -700px;}
}
.hide-cookies-box-border{
            animation: hideCookiesBoxBorder 0.5s;
       -moz-animation: hideCookiesBoxBorder 0.5s;
    -webkit-animation: hideCookiesBoxBorder 0.5s;
}
@keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}
@-webkit-keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}
@-moz-keyframes hideCookiesBoxBorder {
    0%   {bottom:   20px;}
    50%  {bottom:  185px;}
    100% {bottom: -695px;}
}

.cookies-img{
    display:           flex;
    justify-content: center;
    margin-top:        20px;
}
.cookies-submit-container{
    display:           flex;
    justify-content: center;
    margin-top:       250px;

}

 /* pacman Copyright: https://codepen.io/pandamo-Code/pen/RwwBXvj */

.packman-container {
    position:           absolute;
    display:               block;
    justify-content:      center;
    background: var(--backColor);
    overflow:             hidden;
    top:                     8px;
    width:                 500px;
}
  
.pacman {
    display:               block;
    width:                 180px;
    height:                180px;
    border-radius:           50%;
    background:        #F2D648;
    position:           relative;
    clip-path: var(--mouthTeeth);
    box-shadow: 0 -3px 10px rgba(0,0,0,.7) inset;
    margin-left:          -183px;
    z-index:                   2;
}

.pacman-animation{
            animation: eat 3s;
       -moz-animation: eat 3s;
    -webkit-animation: eat 3s;
}

@keyframes eat {
    0%   {margin-left: -183px;}
    40%  {margin-left:  140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:  140px;  clip-path: var(--mouthClose)}
    100% {margin-left:  500px;}
}
@-webkit-keyframes eat {
    0%   {margin-left:  -183px;}
    40%  {margin-left:   140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:   140px;  clip-path: var(--mouthClose)}
    100% {margin-left:   500px;}
}
@-moz-keyframes eat {
    0%   {margin-left:  -183px;}
    40%  {margin-left:   140px;  clip-path: var(--bigMouthOpen)}
    60%  {margin-left:   140px;  clip-path: var(--mouthClose)}
    100% {margin-left:   500px;}
}
.cookies-animation{
    opacity: 1;
    z-index: 1;
            animation: hideTheCookies 3s;
       -moz-animation: hideTheCookies 3s;
    -webkit-animation: hideTheCookies 3s;
}

@keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-webkit-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
@-moz-keyframes hideTheCookies {
    0%     {opacity: 1;}
    12.5%  {opacity: 0;}
    100%   {opacity: 0;}
}
  
  
  
.pacman::before {
    content:                  '';
    width:                   7px;
    height:                  7px;
    border-radius:           50%;
    background-color:     #fff;
    position:           absolute;
    top:                    31px;
    right:                  94px;
    z-index:                   6;
}
.pacman::after {
    content:               '';
    width:               17px;
    height:              17px;
    border-radius:        50%;
    background-color:  #000;
    position:        absolute;
    top:                 28px;
    right:               93px;
    z-index:                4;
}
  
  
  


.block-display{
    display: none;
}

/* Cookies box Section End */





/* Floating text Section  */
.floating-text-container{
    margin-left: 34vw;
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: auto;

}
.h1-1, .h1-2{
    position: absolute;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: #f5f5f5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
/*     transform: translate(-50%, -50%); */
    text-shadow: 0.01em 0.01em 0.01em rgba(0, 0, 0, 0.3);

}
.h1-1{
        transform: translate(-50%, -50%);

    animation: floatAbove 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);

}
.h1-2{
    opacity: 0.65;
    filter: blur(0.02em);
    transform: translate(-50%, -50%) rotateX(21deg);
    animation: floatBelow 3.5s ease-in-out infinite;
    -webkit-clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
        perspective: 500;
    display:inline;
}
@keyframes floatAbove {
    50% {
        transform: translate(-50%, -60%);
        -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
                clip-path: polygon(0% 0%, 100% 0%, 100% 60%, 0% 60%);
    }
}

@keyframes floatBelow {
    50% {
        transform: translate(-50%, -60%) rotateX(10deg);
        -webkit-clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
                clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0% 100%);
    }
}
/* Floating text Section End */




.background, .app-form-button, .app-form-control {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
}
  
.background {
    display: flex;
    vertical-align: middle;

}
  
.email-container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    vertical-align: middle;

}
  
.screen {
    position: relative;
    background: var(--dark-color);
    border-radius: 15px;
    vertical-align: middle;

}
  
.screen:after {
    content: '';
    display: block;
    position: relative;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
}
  
.screen-header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background: var(--lightDark-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
  
.screen-header-left {
    margin-right: auto;
}
  
.screen-header-button {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 3px;
    border-radius: 8px;
    background: white;
}
  
.screen-header-button.close {
    background: #ed1c6f;
}
  
.screen-header-button.maximize {
    background: #e8e925;
}
  
.screen-header-button.minimize {
    background: #74c54f;
}
  
.screen-header-right {
    display: flex;
}
  
.screen-header-ellipsis {
    width: 3px;
    height: 3px;
    margin-left: 2px;
    border-radius: 8px;
    background: #999999;
}
  
.screen-body {
    display: flex;
}
  
.screen-body-item {
    flex: 1;
    padding: 50px;
}
  
.screen-body-item.left {
    display: flex;
    flex-direction: column;
}
  
.app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: var(--special-color);
    font-size: 26px;
}
  
.app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 25px;
    height: 4px;
    background: var(--special-color);;
}
  
.app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
}
  
.app-form-group {
    margin-bottom: 15px;
}
  
.app-form-group.message {
    margin-top: 40px;
}
  
.app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
}
  
.app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 2px solid #666;
    color: var(--special-color);
    font-size: 14px;
    text-transform: uppercase;
    outline: none;
    transition: border-color .2s;
}
  
.app-form-control::placeholder {
    color: #666;
}
  
  
.input-border{
    display:inline-block;
    width: 0px;
    height: 2px;
    background: var(--special-color);
    position: relative;
    top:-2px;
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
}
.app-form-control:active + .input-border,
.app-form-control:focus + .input-border{
    width:100%;    
}
.app-form-button {
    background: none;
    border: none;
    color: var(--special-color);
    font-size: 14px;
    cursor: pointer;
    outline: none;
}
  
.app-form-button:hover {
    color: #107249;
}
  
  
  
@media screen and (max-width: 520px) {
    .screen-body {
        flex-direction: column;
    }
  
    .screen-body-item.left {
        margin-bottom: 30px;
    }
  
    .app-title {
        flex-direction: row;
    }
  
    .app-title span {
        margin-right: 12px;
    }
  
    .app-title:after {
        display: none;
    }
}
  
@media screen and (max-width: 600px) {
    .screen-body {
        padding: 40px;
    }
  
    .screen-body-item {
        padding: 0;
    }
}
  






.map-container{
    /* width: calc(50vw - 142px); */
    width: auto;
    height: auto;
    z-index: 6;
    padding: 0;
    margin: 0;
}
.map{
    width: 100%;
    height: 100vh;
}
